<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/" routerLinkActive="active" class="navbar-brand">{{title}}</a>
      <a routerLink="/login" routerLinkActive="active" class="btn btn-primary" *ngIf="is_hidden==false">
        <i class="bi bi-person"></i>
        Login
      </a>
      <button (click)="logout()" class="btn btn-danger" *ngIf="is_hidden_logout==false">
        <i class="bi bi-box-arrow-left"></i>
        Logout
      </button>
  </div>
</nav>