
<div class="container bg-white border my-4">

  <div class="row my-4">
    <div class="col-sm-2">
      <h3> Filtros</h3>
    </div>
    <div class="col-sm-10 col-md-6 col-lg-4">
      <div class="row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Data</label>
        <div class="col-sm-10 col-md-5">
          <input type="text" class="form-control" placeholder="30/03/2020">
        </div>
      </div>
    </div>
  </div>
<hr/>
  <div class="row my-4">
    <div class="col-sm">
      <div class="row">
        <h4 class="col-sm-4">Pais: {{country}}</h4>
        <h4 class="col-sm-4">Total de vacinados: {{total_vaccination}}</h4>
        <h4 class="col-sm-4">Percentual de vacinados: {{total_percent}}%</h4>
      </div>
      <div class="row my-4">
        <div class="col-sm-7">
          <app-vaccination-daily-chart></app-vaccination-daily-chart>
        </div>
        <div class="col-sm-5">
          <app-vaccination-world-chart></app-vaccination-world-chart>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-sm">
          <app-vaccination-worldmap-chart></app-vaccination-worldmap-chart>
        </div>
      </div>
    </div>
  </div>
</div>