
<div class="container">

  <div class="row my-4">
    <div class="col-sm">
      <h3> Filters: </h3>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-sm">
      <div class="row">
        <h4 class="col-sm-4">Pais: Brasil</h4>
        <h4 class="col-sm-4">Total vacinados: 53215</h4>
        <h4 class="col-sm-4">36%</h4>
      </div>
      <div class="row my-4">
        <div class="col-sm-8">
         <div class="card bg-dark text-light">          
           <div class="card-body">
            <div class="card-title">Daily</div>
           </div>
           <div id="daily" class="card-img-bottom" #daily ></div>
         </div>
        </div>
        <div class="col-sm-4">
          <h4>World daily</h4>
        </div>
      </div>
    </div>
  </div>
</div>